main {
    background-image: url('../img/dublin-2344423_1920.jpg');
  }


.carousel{
    color: black;
}

h3{
    text-align: left;
    color: black;
    /* text-align: right; */
}

p{
    text-align: left;
    color: black;
    /* text-align: right; */
}