.libraryMain {
    /* background-image: url('../img/dublin-2344423_1920.jpg'); */
    background-image: url('../img/canada-1578634_1920.jpg');
    background-size: cover;
  }


.carousel{
    position: relative;
    margin: auto;
    padding-top: 20vh;
    padding-bottom: 20vh;
    color: black;
    width: 65vh;

}

h3{
    text-align: left;
    color: black;
    /* text-align: right; */
}

p{
    text-align: left;
    color: black;
    /* text-align: right; */
}