main {
    background-image: url('../img/washington-dc-1624410_1920.jpg');
    background-size: cover;
    background-position: center, center;

    height: 83vh;
  }

  h2 {
    padding-top: 1rem;
    color: rgb(193, 206, 246);
    font-size: 1.25rem;
    text-align: center;
  }